include README.md
include requirements.txt
include requirements-dev.txt
include .env.example
recursive-include src/genimg *.py *.yaml
include src/genimg/ui_models.yaml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .pytest_cache
recursive-exclude * .mypy_cache
recursive-exclude * .ruff_cache
recursive-exclude * htmlcov
recursive-exclude * .coverage
